<%= form_with(model: [ @challenge, @challenge.entries.build ], local: true) do |f| %>
    
    <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :url1 %><br>
    <%= f.url_field :url1 %>
    
  </p>

  <p>
    <%= f.label :url2 %><br>
    <%= f.url_field :url2 %>
    
  </p>

 
  <p>
    <%= f.submit %>
  </p>
  <% end %>