<%= form_with model: @challenge, builder: LabeledFormBuilder, local: true do |f| %>
 
   <%= f.error_messages %>
  
    <%= f.text_field :title, label: "Title" %>
  
    <%= f.text_area :description %>
      

    <div style="max-width:150px;">
    <p>
      <%= f.number_field :difficulty, in: 1..5 %>
      </p>
    </div>
    <p>
   
    <%=  f.collection_check_boxes :tag_list,  Skill.all, :id, :name %>
    </p>

    <p>
      <%= f.submit %>
    </p>
   
<% end %>